<ul class='scopes table_tools_segmented_control'>
  <% client_scope.each do |c| %>
    <li class="scope">
      <a href="<%= admin_root_path(scope: c.first) %>" class="table_tools_button">
        <%= c.last %>
        <span class="count"><%= c.second %></span>
      </a>
    </li>
  <% end %>
</ul>