<div class="table_actions">
  <%= link_to('Открыть', admin_task_path(task)) %>
  <%= link_to('Изменить', edit_admin_task_path(task)) %>
  <%= link_to('Удалить', admin_task_path(task), :method => 'delete') %>
</div>
