<ul class='scopes table_tools_segmented_control'>
  <% @task_scope.each do |t| %>
    <li class="scope">
      <a href="<%= admin_project_path project, scope: t.first %>" class="table_tools_button">
        <%= t.last %>
        <span class="count"><%= t.second %></span>
      </a>
    </li>
  <% end %>
</ul>