<div class="table_actions">
  <%= link_to('Открыть', admin_payment_path(payment)) %>
  <%= link_to('Изменить', edit_admin_payment_path(payment)) %>
  <%= link_to('Удалить', admin_payment_path(payment), :method => 'delete') %>
</div>
